Redirect 301 /issaquah-cosmetic-dentistry-2.htm http://www.issaquahdental.com
Redirect 301 /issaquah-dental-implants-1.htm http://www.issaquahdental.com
Redirect 301 /issaquah-dental-implants-2.htm http://www.issaquahdental.com
Redirect 301 /issaquah-dentures-1.htm http://www.issaquahdental.com
Redirect 301 /issaquah-dentures-2.htm http://www.issaquahdental.com
Redirect 301 /issaquah-extreme-makeover-dentist-1.htm http://www.issaquahdental.com
Redirect 301 /issaquah-extreme-makeover-dentist-2.htm http://www.issaquahdental.com
Redirect 301 /issaquah-invisalign-and-align-technology.htm http://www.issaquahdental.com
Redirect 301 /issaquah-invisalign-introduction.htm http://www.issaquahdental.com
Redirect 301 /issaquah-porcelain-veneers-maintenance.htm http://www.issaquahdental.com
Redirect 301 /issaquah-sleep-dentistry.htm http://www.issaquahdental.com
Redirect 301 /issaquah-tooth-whitening.htm http://www.issaquahdental.com
Redirect 301 /issaquah-tooth-whitening-introduction.htm http://www.issaquahdental.com


Redirect 301 /aboutus.htm        http://www.issaquahdental.com/welcome_htm.htm
Redirect 301 /services.htm       http://www.issaquahdental.com
Redirect 301 /procedures.htm     http://www.issaquahdental.com/procedures/issaquah-procedures.htm
Redirect 301 /qrform.htm		 http://www.issaquahdental.com
Redirect 301 /contact.htm	     http://www.issaquahdental.com/welcome_htm.htm
Redirect 301 /specialoffer.htm	 http://www.issaquahdental.com/welcome_htm.htm
Redirect 301 /p0.htm             http://www.issaquahdental.com/procedures/touch-ups-1.htm   
Redirect 301 /p1.htm             http://www.issaquahdental.com/procedures/touch-ups-1.htm#touch2
Redirect 301 /p2.htm             http://www.issaquahdental.com/procedures/touch-ups-1.htm#touch3
Redirect 301 /p3.htm             http://www.issaquahdental.com/procedures/touch-ups-2.htm
Redirect 301 /p4.htm             http://www.issaquahdental.com/procedures/touch-ups-2.htm#touch4
Redirect 301 /p5.htm             http://www.issaquahdental.com/procedures/direct-adhesion-dentistry-1.htm
Redirect 301 /p6.htm             http://www.issaquahdental.com/procedures/direct-adhesion-dentistry-1.htm#adhesion2
Redirect 301 /p7.htm             http://www.issaquahdental.com/procedures/direct-adhesion-dentistry-2.htm
Redirect 301 /p8.htm             http://www.issaquahdental.com/procedures/direct-adhesion-dentistry-2.htm#adhesion3
Redirect 301 /p9.htm             http://www.issaquahdental.com/procedures/direct-adhesion-dentistry-3.htm
Redirect 301 /p10.htm            http://www.issaquahdental.com/procedures/direct-adhesion-dentistry-3.htm#adhesion4
Redirect 301 /p11.htm            http://www.issaquahdental.com/procedures/lab-fabricated-adhesion-dentistry-1.htm
Redirect 301 /p12.htm            http://www.issaquahdental.com/procedures/lab-fabricated-adhesion-dentistry-2.htm
Redirect 301 /p13.htm            http://www.issaquahdental.com/procedures/lab-fabricated-adhesion-dentistry-3.htm
Redirect 301 /p14.htm            http://www.issaquahdental.com/procedures/lab-fabricated-adhesion-dentistry-4.htm
Redirect 301 /p15.htm            http://www.issaquahdental.com/procedures/lab-fabricated-adhesion-dentistry-5.htm
Redirect 301 /p16.htm            http://www.issaquahdental.com/procedures/lab-fabricated-adhesion-dentistry-5.htm#lab2         
Redirect 301 /p17.htm            http://www.issaquahdental.com/procedures/restorative-and-cosmetic-1.htm
Redirect 301 /p18.htm            http://www.issaquahdental.com/procedures/restorative-and-cosmetic-1.htm#rc2
Redirect 301 /p19.htm            http://www.issaquahdental.com/procedures/restorative-and-cosmetic-2.htm
Redirect 301 /p20.htm            http://www.issaquahdental.com/procedures/restorative-and-cosmetic-3.htm
Redirect 301 /p21.htm            http://www.issaquahdental.com/procedures/restorative-and-cosmetic-3.htm#rc3
Redirect 301 /p22.htm            http://www.issaquahdental.com/procedures/dental-implants-1.htm
Redirect 301 /p23.htm            http://www.issaquahdental.com/procedures/dental-implants-1.htm#implant2
Redirect 301 /p24.htm            http://www.issaquahdental.com/procedures/dental-implants-2.htm
Redirect 301 /p25.htm            http://www.issaquahdental.com/procedures/dental-implants-3.htm
Redirect 301 /p26.htm            http://www.issaquahdental.com/procedures/dental-implants-3.htm#implant3
Redirect 301 /p32.htm            http://www.issaquahdental.com/procedures/dental-misfortune-and-neglect-1.htm
Redirect 301 /p27.htm            http://www.issaquahdental.com/procedures/dental-misfortune-and-neglect-1.htm#neglect2
Redirect 301 /p28.htm            http://www.issaquahdental.com/procedures/dental-misfortune-and-neglect-2.htm
Redirect 301 /p29.htm            http://www.issaquahdental.com/procedures/dental-misfortune-and-neglect-2.htm#neglect3
Redirect 301 /p30.htm            http://www.issaquahdental.com/procedures/dental-misfortune-and-neglect-3.htm
Redirect 301 /p31.htm            http://www.issaquahdental.com/procedures/dental-misfortune-and-neglect-3.htm#neglect4
Redirect 301 /p33.htm            http://www.issaquahdental.com/procedures/amalgam-controversy-1.htm
Redirect 301 /p34.htm            http://www.issaquahdental.com/procedures/amalgam-controversy-2.htm
Redirect 301 /p35.htm            http://www.issaquahdental.com/procedures/amalgam-controversy-3.htm
Redirect 301 /p36.htm            http://www.issaquahdental.com/procedures/amalgam-controversy-3.htm#amalgam2
Redirect 301 /p37.htm            http://www.issaquahdental.com/procedures/amalgam-controversy-4.htm
Redirect 301 /p38.htm            http://www.issaquahdental.com/procedures/amalgam-controversy-4.htm#amalgam3

RewriteEngine On

RewriteBase /
RewriteCond %{HTTP_HOST} ^issaquahdental\.com [NC]
RewriteRule (.*) http://www.issaquahdental.com/$1 [L,R=301]

RewriteRule ^(facebook)$ http://www.facebook.com/pages/edit/?id=123939107644984#!/pages/Issaquah-Valley-Dental-Care/123939107644984 [R=301,L]
RewriteRule ^(facebook/)$ http://www.facebook.com/pages/edit/?id=123939107644984#!/pages/Issaquah-Valley-Dental-Care/123939107644984 [R=301,L]
